@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: work sans;
}

nav{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    height: 70px;
    justify-content: space-around;
    border: 1px solid transparent;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
}
.logo-container{
    display: flex;
    align-items: center;
    /* width: 50%; */
}
.logo-container p{
    font-size: 40px;
    font-weight: 700;
    margin-left: 10px;
}
.logo-container img{
    height: 35px;
    width: 70px;
    margin-top: 10px;
}
.logo-container span{
    color: rgba(255, 66, 165, 1);
}
.menu-items-container{
    display: flex;
    align-items:center ;
    margin-left: 90px;
}
.menu-items-container a{
    margin-right: 15px;
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 12px;
}
.menu-items-container img{
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
.btn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: rgba(11, 2, 35, 0.10);
}
.banner-container{
    height: 70vh;
    background: #FFF;
    display: flex;
}
.banner-title{
    width: 50%;
    background-image: url("./images/Group\ 14.png");
    background-size: cover;
}
.banner-text button{
    margin-top: 10px
}
.banner-text{
    margin: 80px 100px 100px 200px;
}
.banner-text h2{
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #0B0223;
}
.banner-text h1{
    margin-left: -2px;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text p{
    color: #534C64;
    font-size: 10px;
    font-weight: 500;
    margin-top: 8px;
}
.btn-sign{
    background-color: #FF42A5;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
}
.btn-go{
    background-color: #4EC5F7;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    margin-left: 10px;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fun-video{
    height: 15vh;
    width: 100%;
    text-align: center;
}
.fun-video h2{
    margin: 50px auto 10px;
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
}
.fun-video span{
    background: -webkit-linear-gradient(#F948B2, #8758F1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fun-video p{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #534C64;
}

.card{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
}

.card-img img{
    height: 250px;
    width: 200px;
}

.first{
    margin-left: 25px;
}

.second{
    margin-left: 35px;
}

.third{
    margin-left: 20px;
}

.fourth{
    margin-left: 50px;
}

.play-online{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bigger-img img{
    height: 400px;
    width: 350px;
}

.smaller-img img{
    width: 150px;
    height: 170px;
    /* border-radius: 20px; */
}
.smaller-img{
    text-align: end;
    position: relative;
    bottom: 100px;
    left: 60px;
}
.play-online{
    margin-top: 100px;
}

.title-section span{
    background: -webkit-linear-gradient(#F948B2, #8758F1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-section p{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}
.title-section h2, p{
    margin-top: 10px;
    margin-right: 30px;
}
.title-section h2{
    font-size: 30px;
}

.footer{
    height: 70vh;
    background: #0B0223;
}
.footer .logo-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer .logo-container p{
    color: #FFF;
    margin-top: 100px;
    font-size: 50px;
}
.footer .logo-container img{
    margin-top: 100px;
    height: 40px;
    width: 90px;
}

.ourstory-line{
    margin-top: 90px;
    text-align: center;
}
.ourstory-line a{
    color: #FFF ;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

.social-icon{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

.policy-line{
    margin-top: 50px;
    text-align: center;
}
.policy-line a{
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    margin: 15px;
    font-size: 15px;
}

.copyright-line{
    margin-top: 40px;
    text-align: center;
}
.copyright-line p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 13px;
}





/* responsiveness */

 @media screen and (max-width: 425px) {
    nav{
        flex-wrap: wrap;
        box-shadow: none;
        margin-top: 40px;
        flex-direction: column; 
    }
    .menu-items-container{
        flex-direction: column;
        text-align: center;
        margin-right: 75px;
    }
    .menu-items-container a{
        margin-top: 18px;
    }

}